# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
api/config/
node_modules/
package-lock.json
out
gen
*.log
api/config/.env
credentials.tar
yarn.lock
/service-account.json
/.env
env.js